<div class="mt-4">
  <form method="POST">
    <div class="mb-3">
      <label for="search-input" class="form-label">Search</label>
      <input name="q" type="text" class="form-control" id="search-input">
    </div>
    <div class="mb-3">
      <label for="gender" class="form-label">Choose</label>
      <select name="gender" id="gender">
        <option value="gay">gay</option>
        <option value="male">male</option>
        <option value="female">female</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>